@import "tailwindcss";



/* o para títulos específicos */
/* h1, h2 {
  font-family: 'Array', sans-serif;
  font-weight: regular;
} */

body, p, a, li, span, button, h3, h4, h5, h6,h1, h2,div {
  font-family: 'Hove', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hove', sans-serif;
  font-weight: bold;
}


@keyframes glow {
  0% {
    box-shadow: 0 0 5px #a748fe;
  }
  50% {
    box-shadow: 0 0 15px #a748fe;
  }
  100% {
    box-shadow: 0 0 5px #a748fe;
  }
}

.animate-glow {
  animation: glow 2s ease-in-out infinite;
}

/* Más rápido en pantallas pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
  .animate-glow {
    animation-duration: 1s;
  }
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
